<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>
<body>
  <section id="container">
    <section>
      <p style="font-size: 22px;">
        World's best flashcard manager. 
      </p>
    </section>
  </section>
</body>
